// 建议所有项目自定义样式放在该文件夹下

.barrier_gates .ant-card-body{
    padding: 10px;
}

.barrier_gates .barrier_gates_row{
    margin: 0 0 2px 0;
}

.barrier_gates .barrier_gates_button{
    padding: 0 0 0 10px;
    line-height: 32px;
}