<div class="content__title">
  <h1>
    {{actionName}}
  </h1>
  <button [routerLink]="['/admins/users']" nz-button [nzSize]="'large'" [nzType]="'primary'">
    <i class="anticon anticon-arrow-left"></i>
    <span>返回管理员列表</span>
  </button>
</div>

<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card>
            <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
                <fieldset>
                    <legend>资料</legend>
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSm]="4">
                            <label for="name" nz-form-item-required>
                                <span>用户名</span>
                            </label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="name">
                            <nz-input formControlName="name" nzPlaceHolder="登陆用户名" [nzId]="'name'"></nz-input>
                            <div nz-form-explain *ngIf="(name.dirty || name.touched) && name.errors?.required">请填写登陆用户名！</div>
                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSm]="4">
                            <label for="truename" nz-form-item-required>
                                <span>姓名</span>
                            </label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="truename">
                            <nz-input formControlName="truename" nzPlaceHolder="请填写姓名" [nzId]="'truename'"></nz-input>
                            <div nz-form-explain *ngIf="(truename.dirty || truename.touched) && truename.errors?.required">请填写姓名！</div>
                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSm]="4">
                            <label for="email" nz-form-item-required>邮箱</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="email">
                            <nz-input formControlName="email" nzPlaceHolder="可以作为登陆用户名" [nzId]="'email'"></nz-input>
                            <div nz-form-explain *ngIf="(email.dirty || email.touched) && email.errors?.email">邮箱格式不正确！</div>
                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSm]="4">
                            <label for="password">密码</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="password">
                            <nz-input formControlName="password" [nzPlaceHolder]="pwPlaceHolder" [nzType]="'password'" [nzId]="'password'"></nz-input>
                            <div nz-form-explain *ngIf="(password.dirty || password.touched) && password.errors?.required">请输入密码!</div>
                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSm]="4">
                            <label for="password_confirmation">重复密码</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="password_confirmation">
                            <nz-input formControlName="password_confirmation" [nzPlaceHolder]="'重复上面输入的密码'" [nzType]="'password'" [nzId]="'password_confirmation'"></nz-input>
                            <ng-container *ngIf="password_confirmation.dirty || password_confirmation.touched">
                                <p nz-form-explain *ngIf="password_confirmation.errors?.checked">两次输入密码不一致！</p>
                                <p nz-form-explain *ngIf="password_confirmation.errors?.required">请重复输入密码！</p>
                            </ng-container>
                        </div>
                    </div>
                </fieldset>
                <div nz-form-item nz-row class="mb0">
                    <div nz-form-control nz-col [nzSpan]="20" [nzOffset]="4">
                        <button [nzLoading]="_loading" nz-button [nzSize]="'large'" [disabled]="form.invalid"><span>{{actionBtn}}</span></button>
                    </div>
                </div>
            </form>
        </nz-card>
    </div>
</div>