<div class="content__title">
  <h1>
    {{actionName}}
  </h1>
  <button [routerLink]="['/parks']" nz-button [nzSize]="'large'" [nzType]="'primary'">
    <i class="anticon anticon-arrow-left"></i>
    <span>返回停车场列表</span>
  </button>
</div>

<div nz-row [nzGutter]="16">
  <div nz-col [nzMd]="24">
    <nz-card>
      <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
        <fieldset>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4">
              <label for="name" nz-form-item-required>
                <span>停车场名称</span>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="name">
              <nz-input formControlName="name" nzPlaceHolder="停车场名称" [nzId]="'name'"></nz-input>
              <div nz-form-explain *ngIf="(name.dirty || name.touched) && name.errors?.required">请填写停车场名称！</div>
            </div>
          </div>
          <div nz-row>
            <div nz-form-label nz-col [nzSm]="4">
              <label for="barrier_gate" nz-form-item-required>
                <span>道闸</span>
              </label>
            </div>
            <div nz-col [nzSm]="20">
              <nz-card formArrayName="barrier_gates" class="barrier_gates">
                <div nz-row class="barrier_gates_row" *ngFor="let barrier_gate of barrier_gates.controls; let i=index">
                  <div nz-col [nzSpan]="7" [formGroupName]="i">
                    <div nz-form-item nz-row>
                      <div nz-form-label nz-col [nzSpan]="5">
                        <label for="Bid" nz-form-item-required>编号</label>
                      </div>
                      <div nz-form-control nz-col [nzSpan]="19">
                        <nz-input formControlName="Bid" [nzPlaceHolder]="'道闸编号'" [nzId]="'Bid'">
                        </nz-input>
                        <div nz-form-explain *ngIf="(barrier_gates.controls[i].controls.Bid.dirty || barrier_gates.controls[i].controls.Bid.touched) && barrier_gates.controls[i].controls.Bid.errors?.required">请填写道闸编号!</div>
                      </div>
                    </div>
                  </div>
                  <div nz-col [nzSpan]="7" [formGroupName]="i">
                    <div nz-form-item nz-row>
                      <div nz-form-label nz-col [nzSpan]="5">
                        <label for="Bname" nz-form-item-required>名称</label>
                      </div>
                      <div nz-form-control nz-col [nzSpan]="19">
                        <nz-input formControlName="Bname" [nzPlaceHolder]="'道闸名称'" [nzId]="'Bname'">
                        </nz-input>
                        <div nz-form-explain *ngIf="(barrier_gates.controls[i].controls.Bname.dirty || barrier_gates.controls[i].controls.Bname.touched) && barrier_gates.controls[i].controls.Bname.errors?.required">请填写道闸名称!</div>
                      </div>
                    </div>
                  </div>
                  <div nz-col [nzSpan]="7" [formGroupName]="i">
                    <div nz-form-item nz-row>
                      <div nz-form-label nz-col [nzSpan]="5">
                        <label for="Bdescription">备注</label>
                      </div>
                      <div nz-form-control nz-col [nzSpan]="19">
                        <nz-input formControlName="Bdescription" [nzPlaceHolder]="'道闸备注'" [nzId]="'Bdescription'">
                        </nz-input>
                      </div>
                    </div>
                  </div>
                  <div nz-col [nzSpan]="3" class="barrier_gates_button">
                    <button type="button" nz-button [nzType]="'danger'" [nzSize]="'small'" [nzShape]="'circle'" *ngIf="barrier_gates.controls.length > 1"
                      (click)="removeBarrier_gate(i)">
                      <i class="anticon anticon-close"></i>
                    </button>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzSpan]="7">
                    <div nz-row>
                      <div nz-col [nzOffset]="5">
                        <button nz-button type="button" [nzType]="'primary'" [nzSize]="'large'" (click)="addBarrier_gate()">
                          <i class="anticon anticon-plus"></i>
                          <span>添加道闸</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4">
              <label for="principal">
                <span>负责人</span>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="principal">
              <nz-input formControlName="principal" [nzId]="'principal'">
                <ng-template #addOnBefore>
                  <i class="anticon anticon-user"></i>
                </ng-template>
              </nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4">
              <label for="contact_information">
                <span>负责人联系方式</span>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="contact_information">
              <nz-input formControlName="contact_information" [nzId]="'contact_information'">
                <ng-template #addOnBefore>
                  <i class="anticon anticon-contacts"></i>
                </ng-template>
              </nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4">
              <label for="location" nz-form-item-required>
                <span>停车场位置</span>
              </label>
            </div>
            <div nz-form-control nz-col [nzSm]="20">
              <nz-input formControlName="location" [(ngModel)]="location" [nzId]="'location'" [nzDisabled]="'true'">
                <ng-template #addOnBefore>
                  <i class="anticon anticon-environment"></i>
                </ng-template>
              </nz-input>
              <nz-card>
                <div nz-row [nzGutter]="6" class="china_division">
                  <div nz-col [nzSm]=8>
                    <nz-cascader [nzPlaceHolder]="'请选择搜索地区'" [nzChangeOnSelect]="'true'" [nzOptions]="china_division" [(ngModel)]="search_division"
                      (nzSelectionChange)="_set_selected_area($event)" [formControlName]="'china_division'">
                    </nz-cascader>
                  </div>
                  <div nz-col [nzSm]="10">
                    <nz-input [(ngModel)]="search_area" name="search_area" [nzPlaceHolder]="'请搜索详细地址（可选）'" [formControlName]="'search_area'"></nz-input>
                  </div>
                  <div nz-col [nzSm]="6">
                    <button type="button" nz-button [nzType]="'primary'" (click)="search_map(true)">
                      <i class="anticon anticon-search"></i>
                      <span>搜索</span>
                    </button>
                  </div>
                </div>
                <div nz-row>
                  <ngx-amap [scrollWheel]="false" class="demo-map" [resizeEnable]="true" [center]="point" [zoom]="15" (mapClick)="onMapClick($event)" style="height:400px;">
                    <amap-tool-bar></amap-tool-bar>
                    <amap-marker [position]="point">
                        <amap-info-window [offset]="{x: 0, y: -30}" [isOpen]="true">
                          {{locationInfo}}
                        </amap-info-window>
                      </amap-marker>
                  </ngx-amap>
                </div>
              </nz-card>
            </div>
          </div>
        </fieldset>
        <div nz-form-item nz-row class="mb0">
          <div nz-form-control nz-col [nzSpan]="20" [nzOffset]="4">
            <button [nzLoading]="_loading" nz-button [nzSize]="'large'" [disabled]="form.invalid">
              <span>{{actionBtn}}</span>
            </button>
          </div>
        </div>
      </form>
    </nz-card>

  </div>
</div>